.nojs .FlattrButton,
.no-js .FlattrButton {
  height: 10px; /* height of replacement image */
  width: 40px; /* width of replacement image */
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.nojs .FlattrButton:before,
.no-js .FlattrButton:before {
  content: url(https://api.flattr.com/button/flattr-badge-large.png);
  display: inline-block;
  font-size: 0;
  line-height: 0;
}
